$zro9ya:#022950;
.thecreation {
    width: 75%;
    margin: auto;
    border: double;
    border-radius: 10px;
    margin-top: 13px;
    margin-bottom: 13px;
}
.group {
    margin-right: 4px;
    margin-left: 4px;
    margin-top: 4px;
    margin-bottom: 4px;
}
#titlesi{
    text-align: center;
}
.bn{
    button {
        text-align: center;
        width: -webkit-fill-available;
        background-color: #022950;
        color: white;
        font-weight: bold;
        max-width: fit-content;
        display: flex;
        margin: auto;
        margin-top: 4px;
        margin-bottom: 4px;
    }
}
#basic-addon2 {
    font-weight: bold;
    font-family: Tajawal;
}
::placeholder{
    
    font-family: Tajawal;
}