#loade {
    position: fixed;
    z-index: 9999999999;
    background: #80808036;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    #spin{
        color:#022950
    }
    
}

