$zro9ya:#022950;

#many{
    direction: rtl;
    #reg{
        width: 85%;
        margin: auto;
        border: double;
    }
}
#titlesi{
    text-align: center;
}
#right{
    width: fit-content;
    button{
        background-color: $zro9ya;
        color: white;
        border-radius: 10px;
    }
}