$zro9ya:#022950;
$l7morya:#CE292F;
#betw{
    justify-content: space-between;
}
.zro9{
    background-color: $zro9ya;
    .toast-body{
        color:white
    }
}
#cls{
    border: none;
    background: none;
    font-size: 17px;
    font-weight: bold;
}
#mr{
    text-align: center;
    color: red;
}
#mg{
    text-align: center;
    color: green;
}
#ser{
    width:100%
}
#bld{
    font-weight: bolder;
}
#qcen{
    text-align: center;
    font-size: larger;
}
#none{
text-decoration: none;
color: black;
}
#cen{
    text-align: center;
}
#add{
    background-color: $zro9ya;
    color: white;
    cursor: pointer;
}
.serandbtn{
    display: flex;
    button{
     font-family: Tajawal;
     background-color: $zro9ya;
     color: white;
     border-radius: 10px;
     margin-left: 3px;
     font-weight: bold;
    }
}
#thebody {
    overflow-y: auto;
    height: 250px;
    margin-top: 6px;
}
#resident {
    border: double;
    border-radius: 10px;
    margin-top: 3px;
    margin-bottom: 3px;
}
#tit{
    direction: rtl;
}
#userinfo {
    direction: rtl;
}

#mt{
    margin-top: 4px;
    margin-bottom: 4px;
    margin-right: 4px;
}
.out{
    width: -webkit-fill-available !important;
    border: none !important;
    font-size: large !important;
    color: $l7morya !important;
    text-align: center;
    cursor: pointer;

    }
#pointer{
    cursor:pointer;
}
