$zro9ya:#022950;
$l7morya:#CE292F;
#many{
    direction: rtl;
    #reg{
        width: 85%;
        margin: auto;
        border: double;
    }
}
#titlesi{
    text-align: center;
}
.cor{
    color:$l7morya
}
.cog{
    color:green
}
#resright{
    width: -webkit-fill-available;
    justify-content: space-between !important;
    button{
        background-color: $zro9ya;
        color: white;
        border-radius: 10px;
    }
    #MS{
        text-decoration: none;
    }
}